<div id="{{ smart.ID }}">
    <h2>{{ (action ~ ' ' ~ element)|title }}</h2>
    {% set smart = start('forms/' ~ element ~ '_' ~ action) %}{#######}{{ include(smart.component, smart.vals) }}{% set smart = end() %}
    <ul>Resultado</ul>

    <style>
        #{{ smart.ID }}{
            & {
                padding: 50px;
                background-color: whitesmoke;
                border-radius: 15px;
            },

            ul{
                width: 100%;
                margin-top: 10px;
                padding: 10px;
                border: dashed 1px grey;
                background-color: white;
                list-style-type: none;
            }
        }
    </style>

    <script type="module">
        (() => {

            const form = document.querySelector('#{{ smart.ID }} > form')
            const output = document.querySelector('#{{ smart.ID }} > ul')
            
            form.addEventListener('submit', (e) => {

                e.preventDefault()

                smart.apiCall(e.target.action, new FormData(e.target), smart.errorConsole, (data) => {

                    smart.generarSalida([data.resultado], output)
                    
                })

            })

        })()
    </script>
</div>