<div id="{{ smart.ID }}">
    <h2>{{ (action ~ ' ' ~ element)|title }}</h2>
    {% set smart = start('forms/' ~ element ~ '_' ~ action) %}{#######}{{ include(smart.component, smart.vals) }}{% set smart = end() %}
    <ul>Resultado</ul>

    <style>
        #{{ smart.ID }}{
            padding: 50px;
            background-color: whitesmoke;
            border-radius: 15px;
        }

        #{{ smart.ID }} ul{
            width: 100%;
            margin-top: 10px;
            padding: 10px;
            border: dashed 1px grey;
            background-color: white;
            list-style-type: none;
        }  
    </style>

    <script>
        (() => {

            const form = document.querySelector('#{{ smart.ID }} > form')
            const output = document.querySelector('#{{ smart.ID }} > ul')
            
            form.addEventListener('submit', (e) => {

                e.preventDefault()

                smart.apiCall(e.target.action, new FormData(e.target), smart.errorConsole, (data) => {
                    
                    let outputText = '<li><ul>'
                    for(property in data.resultado){
                        
                        const clave = property[0].toUpperCase() + property.substring(1)
                        
                        outputText += property == 'club' && data.resultado[property] ?
                            `<li><strong>${clave}</strong>: ${data.resultado[property].name ?? 'No'}.</li>` :
                            `<li><strong>${clave}</strong>: ${data.resultado[property] ?? 'No'}.</li>`
                    }
                    outputText += '</li></ul>'
                    
                    output.innerHTML = outputText
                    output.style.border = 'solid 1px black'
                })

            })

        })()
    </script>
</div>