<div id="{{ smart.ID }}">
    <h2>Listar Clubs</h2>
    <form action="/api/club/listar" method="POST">
        <div class="mb-3">
            <label for="filterSelect1" class="form-label">Filtrar por</label>
            <select class="form-select" name="filter1" id="filterSelect1">
                <option value="names" selected>Nombre [A-Z]</option>
                <option value="reversedNames">Nombre [Z-A]</option>
                <option value="budgets">Presupuesto [De menor a mayor]</option>
                <option value="reversedBudgets">Presupuesto [De mayor a menor]</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="filterSelect2" class="form-label">Filtrar por</label>
            <select class="form-select" name="filter2" id="filterSelect2">
                <option value="" selected>Escoge una opción</option>
                <option value="names">Nombre [A-Z]</option>
                <option value="reversedNames">Nombre [Z-A]</option>
                <option value="budgets">Presupuesto [De menor a mayor]</option>
                <option value="reversedBudgets">Presupuesto [De mayor a menor]</option>
            </select>
        </div>
        <input type="hidden" name="page" value="1">
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>
    <nav>
        <p>Páginas</p>
        <ul class="pagination"></ul>
    </nav>
    <ul>Resultado</ul>

    <style>
        #{{ smart.ID }}{
            & {
                padding: 50px;
                background-color: whitesmoke;
                border-radius: 15px;
            }

            > ul, > ul ul{
                width: 100%;
                margin-top: 10px;
                padding: 10px;
                border: dashed 1px grey;
                background-color: white;
                list-style-type: none;
            }
        }
    </style>

    <script class="form-preload" type="module">
        (() => {

            const form = document.querySelector('#{{ smart.ID }} > form')
            
            window.addEventListener('load', () => {form.requestSubmit()})
            
        })()
    </script>
    
    <script class="form-postsubmit" type="module">
        (() => {

            const form = document.querySelector('#{{ smart.ID }} > form')
            const output = document.querySelector('#{{ smart.ID }} > ul')
            
            form.addEventListener('submit', (e) => {

                e.preventDefault()

                smart.apiCall(e.target.action, new FormData(e.target), smart.errorConsole, (data) => {

                    const contenedorPaginas = document.querySelector('#{{ smart.ID }} .pagination')
                    const seleccionPagina = document.querySelector('#{{ smart.ID }} > form > input')

                    smart.generarSalida(data.resultado, output)

                    smart.crearPaginacion(form, contenedorPaginas, seleccionPagina, data.paginas)

                })

            })

        })()
    </script>
</div>